* {
  background: black;
}
#canvasContainer {
}
#canvas1 {
  width: 1000px;
  height: 700px;

  border: 2px solid red;
}

.execute_schedule_button {
  position: absolute;
  left: 750px;
  top: 550px;

  width: 200px;
  height: 80px;

  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;

  border: 2px solid blue;
}
